body {
    height: 100vh;
    margin: 0;
}

.container {
    height: 100%;
    display: flex;  

}

.planet {
    position: relative;
    height: 100%;
    width: 70%;
    background-image: url(space.jpeg);
    background-size: cover;
   
}

.controlPanel  {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#countDown,
.forButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
    font-size: 40px;
    font-weight: bold;
}




button {
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    padding: 10px;
}

#newRocket {
    display: none;
}

#rocket {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 45%;
    bottom: 5px;

    transition: all 5s ease-in-out;

}

#rocket img {
    height: 100%;
    animation: shake 2.5s infinite;
}




@media (max-width:800px) {
    .container {
        flex-direction: column;
    }
    .planet {
        width: 100%;
    }
    .controlPanel {
        width: 100%;
        height: 20%;
        flex-direction: row;
    }
    #countDown,
    .forButtons {
        width: 50%;
        height: auto;
        font-size: 20px;
    }

    #rocket {
        width: 70px;
        height: 70px;
    }
}

@keyframes shake {
    0% { transform: rotate(0deg); }
   80% { transform: rotate(0deg); }
   85% { transform: rotate(3deg); }
   95% { transform: rotate(-3deg); }
  100% { transform: rotate(0deg); }
}

